POSTGRES_DB=antang
POSTGRES_USER=antang
POSTGRES_PASSWORD=
HINDSIGHT_POSTGRES_DB=hindsight
HINDSIGHT_POSTGRES_USER=hindsight
HINDSIGHT_POSTGRES_PASSWORD=
HINDSIGHT_API_KEY=
HINDSIGHT_LLM_API_KEY=
HINDSIGHT_MODE=online
